html {
    margin: 8px;
    width: 1000px !important;
    height: 700px !important;
    border: 5px solid white;
}

body {
    background-color: rgb(15, 14, 14);
}

@keyframes Shapes {
    0% {
        top: 50px;
        color: lawngreen;
        background-color: rgb(156, 197, 212);
    }
    10% {
        top: 100px;
        color: rgba(36, 122, 148, 0.76);
        background-color: rgb(42, 218, 50);
    }
    15% {
        top: 120px;
        color: magenta;
        background-color: rgb(156, 197, 212);
    }
    25% {
        top: 140px;
        color: maroon;
        background-color: rgb(83, 0, 139);
    }
    50% {
        top: 160px;
        color: midnightblue;
        background-color: rgb(255, 0, 13);
    }
    65% {
        top: 180px;
        color: rgba(218, 205, 30, 0.877);
        background-color: rgb(255, 0, 13);
    }
    75% {
        top: 190px;
        color: orangered;
        background-color: rgba(0, 139, 30, 0.842);
    }
    80% {
        top: 200px;
        background-color: rgba(13, 14, 13, 0);
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: rgba(0, 0, 0, 0);
    }
    from {
        left: 0%;
    }
    to {
        left: 85%;
    }
}

div {
    border-radius: 50%;
    position: relative;
    width: 200px;
    height: 100px;
    animation: Shapes 10s infinite;
    animation-timing-function: ease-out;
    flex-wrap: wrap;
}

#div1 {
    left: 50px;
}

#div2 {
    left: 50px;
}

#div3 {
    left: 50px;
}

#div4 {
    left: 50px;
}

.shape {
    font-family: cursive;
    font-weight: bold;
    position: relative;
    top: 40px;
    left: 0px;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}